@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient{
  background: rgb(3,7,11);
  background: linear-gradient(0deg, rgba(3,7,11,1) 15%, rgba(230,74,99,0.2091430322128851) 100%);
  background-repeat: no-repeat;

}
body{
  color: white;
  background: rgb(3,7,11);
background: linear-gradient(0deg, rgba(3,7,11,0.9206276260504201) 30%, rgba(230,74,99,0.37160801820728295) 100%);
background-repeat: no-repeat;
/* height: 100vh; */
}
.details-img{
 background: rgb(3,7,11);
background: linear-gradient(0deg, rgba(3,7,11,0.9206276260504201) 30%, rgba(230,74,99,0.37160801820728295) 100%);
background-repeat: no-repeat;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hidescroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidescrill {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}